*-debug.log
*-error.log
*.ignore
/.nyc_output
/build
/coverage
/dist
/lib
/node_modules
/package-lock.json
/tmp

# Ignore packs
dx-scanner-v*.tgz

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
