{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github",
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true,
        "markdownReleaseNotes": true
      }
    ]
  ],
  "branches": [
    "master",
    "next",
    { "name": "beta", "prerelease": "beta" },
    { "name": "alpha", "prerelease": "alpha" },
    { "name": "feature/*", "prerelease": "${name.replace(/^feature|^feat\//g, 'feature')}" },
    { "name": "hotfix/*", "prerelease": "${name.replace(/^hotfix|^fix\//g, 'hotfix')}" },
    { "name": "debug/*", "prerelease": "${name.replace(/^debug\//g, '')}" }
  ]
}
